/eclipse_workspace/FreeNet-Source/bin
/eclipse_workspace/FreeNet-Source/build
/eclipse_workspace/FreeNet-Source/dist
/eclipse_workspace/FreeNet-Source/freenet-*
/eclipse_workspace/FreeNet-Source/javadoc
/eclipse_workspace/FreeNet-Source/junitvmwatcher*
/eclipse_workspace/FreeNet-Source/generator/js/lib
/eclipse_workspace/FreeNet-Source/generator/js/tests/lib
/eclipse_workspace/FreeNet-Source/generator/js/tests/bin
/eclipse_workspace/FreeNet-Source/.classpath
/eclipse_workspace/FreeNet-Source/*.swp
/eclipse_workspace/FreeNet-Source/*.iml
/eclipse_workspace/FreeNet-Source/*.ipr
/eclipse_workspace/FreeNet-Source/*.iws
/eclipse_workspace/FreeNet-Source/.*
/eclipse_workspace/FreeNet-Source/*~
/eclipse_workspace/ExDebugTools/bin
/eclipse_workspace/ExDebugTools/build
/eclipse_workspace/ExDebugTools/dist
/eclipse_workspace/ExDebugTools/freenet-*
/eclipse_workspace/ExDebugTools/javadoc
/eclipse_workspace/ExDebugTools/.classpath
/eclipse_workspace/ExDebugTools/*.swp
/eclipse_workspace/ExDebugTools/*.iml
/eclipse_workspace/ExDebugTools/*.ipr
/eclipse_workspace/ExDebugTools/*.iws
/eclipse_workspace/ExDebugTools/.*
/eclipse_workspace/ExDebugTools/*~
/eclipse_workspace/SimpleTrace_XMLParser/bin
/eclipse_workspace/SimpleTrace_XMLParser/build
/eclipse_workspace/SimpleTrace_XMLParser/dist
/eclipse_workspace/SimpleTrace_XMLParser/freenet-*
/eclipse_workspace/SimpleTrace_XMLParser/javadoc
/eclipse_workspace/SimpleTrace_XMLParser/.classpath
/eclipse_workspace/SimpleTrace_XMLParser/*.swp
/eclipse_workspace/SimpleTrace_XMLParser/*.iml
/eclipse_workspace/SimpleTrace_XMLParser/*.ipr
/eclipse_workspace/SimpleTrace_XMLParser/*.iws
/eclipse_workspace/SimpleTrace_XMLParser/.*
/eclipse_workspace/SimpleTrace_XMLParser/*~
/override.properties
!/eclipse_workspace/FreeNet-Source/.externalToolBuilders
