/*~
/Scripts/*~
/Scripts/config/*~
/Scripts/config/configs/*~
/eclipse_workspace/FreeNet-Source/bin
/eclipse_workspace/FreeNet-Source/build
/eclipse_workspace/FreeNet-Source/dist
/eclipse_workspace/FreeNet-Source/freenet-*
/eclipse_workspace/FreeNet-Source/javadoc
/eclipse_workspace/FreeNet-Source/junitvmwatcher*
/eclipse_workspace/FreeNet-Source/generator/js/lib
/eclipse_workspace/FreeNet-Source/generator/js/tests/lib
/eclipse_workspace/FreeNet-Source/generator/js/tests/bin
/eclipse_workspace/FreeNet-Source/*.swp
/eclipse_workspace/FreeNet-Source/*.iml
/eclipse_workspace/FreeNet-Source/*.ipr
/eclipse_workspace/FreeNet-Source/*.iws
/eclipse_workspace/FreeNet-Source/.*
/eclipse_workspace/FreeNet-Source/*~
/eclipse_workspace/ExDebugTools/bin
/eclipse_workspace/ExDebugTools/build
/eclipse_workspace/ExDebugTools/dist
/eclipse_workspace/ExDebugTools/freenet-*
/eclipse_workspace/ExDebugTools/javadoc
/eclipse_workspace/ExDebugTools/*.swp
/eclipse_workspace/ExDebugTools/*.iml
/eclipse_workspace/ExDebugTools/*.ipr
/eclipse_workspace/ExDebugTools/*.iws
/eclipse_workspace/ExDebugTools/.*
/eclipse_workspace/ExDebugTools/*~
/eclipse_workspace/Freenet-PseudoRouting/bin
/eclipse_workspace/Freenet-PseudoRouting/build
/eclipse_workspace/Freenet-PseudoRouting/dist
/eclipse_workspace/Freenet-PseudoRouting/freenet-*
/eclipse_workspace/Freenet-PseudoRouting/javadoc
/eclipse_workspace/Freenet-PseudoRouting/*.swp
/eclipse_workspace/Freenet-PseudoRouting/*.iml
/eclipse_workspace/Freenet-PseudoRouting/*.ipr
/eclipse_workspace/Freenet-PseudoRouting/*.iws
/eclipse_workspace/Freenet-PseudoRouting/.*
/eclipse_workspace/Freenet-PseudoRouting/*~
/eclipse_workspace/Freenet-RoutePrediction/bin
/eclipse_workspace/Freenet-RoutePrediction/build
/eclipse_workspace/Freenet-RoutePrediction/dist
/eclipse_workspace/Freenet-RoutePrediction/freenet-*
/eclipse_workspace/Freenet-RoutePrediction/javadoc
/eclipse_workspace/Freenet-RoutePrediction/*.swp
/eclipse_workspace/Freenet-RoutePrediction/*.iml
/eclipse_workspace/Freenet-RoutePrediction/*.ipr
/eclipse_workspace/Freenet-RoutePrediction/*.iws
/eclipse_workspace/Freenet-RoutePrediction/.*
/eclipse_workspace/Freenet-RoutePrediction/*~
/eclipse_workspace/.*
/override.properties
!/eclipse_workspace/FreeNet-Source/.externalToolBuilders
